// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

#home-freshcycle {
	background: black url('../images/rf-greenhouse-front-web-res.jpg') center / cover;
}

#lets-talk-header {
	background: #f3f3f3 center / cover;
}

@media (max-width: 1024px) { #home-freshcycle { background: black url('../images/rf-greenhouse-front-web-res.jpg') center / cover; }}
@media (max-width: 768px) { #home-freshcycle { background: black url('../images/rf-greenhouse-front-mobile.jpg') center / cover; }}

#rf-logo {
	max-height: 3rem;
}

#lets-talk-p {
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
}

#top-header {
	top: 82px;
}

#middle-header {
	top: 150px;
}

#description {
	top: 150px;
}

#inquire-btn {
	width: 180px;
	color: black;
	background-color: white;
	border: 0.15em solid white;
	bottom: 40px;
	margin-bottom: 10px;
}

#inquire-btn:hover {
	background-color: #f3f3f3;
	border: 0.15em solid #f3f3f3;
}

#learn-more-btn {
	width: 180px;
	border: 0.15em solid white;
	bottom: 40px;
	margin-bottom: 10px;
}

#learn-more-btn:hover {
	color: black;
}

.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
	flex-direction: column;
}

.top { align-items: flex-start; }
.right { justify-content: flex-end; }
.bottom { align-items: flex-end; }
.left { justify-content: flex-start; }

.single-spaced, .single-spaced * {
	line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

.bottom-hero-grid {
	width: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 512px) {
	.bottom-hero-grid {
		grid-template-columns: 1fr;
	}
}

.hero-foot {
	padding: 2rem;
}